<mat-toolbar color="primary">
  <span class="app-name">{{ appName }}</span>
  <form class="search-form">
    <mat-form-field class="search-field" appearance="fill">
      <input matInput placeholder="Search" [(ngModel)]="searchQuery">
    </mat-form-field>
    <!-- <button mat-icon-button class="search-button" aria-label="Search" (click)="search()">
      <mat-icon>search</mat-icon>
    </button> -->
  </form>
  <div class="nav-icons">
    <button mat-icon-button class="account-icon" aria-label="Account" (click)="openAccount()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="cart-icon" aria-label="Cart" (click)="openCart()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>